body {
  font-family: 'Kanit', sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(./blue-tech-circuit-board-technology-animated-background-video-graphic-design-hd-1920x1080_ewva7rwie__F0000.png);
}

.loglist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 70vh;
}

.dropdown {
  height: 5px !important;
  padding: 5px 5px;
  max-width: auto;
}

.segment_2 {
  height: 100%;
  max-height: 10%;
  min-height: 10%
}

.inputdate {
  border-radius: 5px;
  padding: 5px 5px;
  border-color: white;
  background-color: white;
  color: black;
  height: 35px;
}

.react-datepicker__time-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.table {
  display: table-row !important;
  width: 100% !important;
}

.loglist>div {
  width: 100%;
}